/************ FONT FACE ***************/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
/************** VARIABLES ******************/
/*************** MIXINS *****************/
.fontLight {
  font-family: 'Roboto';
  font-weight: 300;
}
.fontRegular {
  font-family: 'Roboto';
  font-weight: normal;
}
.fontMedium {
  font-family: 'Roboto';
  font-weight: 500;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  color: #86939e;
}
.wrapper {
  max-width: 1140px;
  width: 96%;
  padding: 0 2%;
  margin: 0 auto;
  position: relative;
}
.hide {
  display: none;
}
.greenBtn {
  background-color: #7dc855;
  border: 2px solid #7dc855;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.greenBtn:hover {
  background-color: #6db745;
  border-color: #6db745;
}
/******************** HEADER *********************/
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 0 4px #e9e9e9;
  width: 100%;
  padding: 38px 0 40px;
  z-index: 9999;
}
.logo {
  float: left;
  padding: 0;
}
.logo a,
.logo img {
  display: block;
}
.menuButton {
  display: none;
}
nav {
  float: left;
  padding: 5px 0 0 30px;
}
nav li {
  float: left;
  padding: 0 20px;
  display: block;
}
nav a {
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 1;
  font-family: 'Roboto';
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
nav a:hover {
  color: #4e6e8c;
}
/************ PAGE ******************/
.page {
  padding-top: 197px;
}
h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  text-align: center;
  padding-bottom: 20px;
  line-height: 1.2;
}
.subHeader {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 22px;
  color: #5e6977;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 44px;
}
/*********** BANNER ***********/
.banner {
  text-align: center;
  padding: 16px 0 50px;
}
.banner img {
  max-width: 100%;
  display: block;
}
/************ WORKFLOW *************/
.workflow {
  padding-bottom: 180px;
}
.workflow li {
  float: left;
  width: 33.33333333%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.workflow .icon {
  float: left;
  width: 24%;
}
.workflow .description {
  float: left;
  width: 76%;
}
.workflow .description h3 {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 18px;
  color: #43484d;
  line-height: 1.5;
  padding-bottom: 8px;
  margin-top: -8px;
}
.workflow .description p {
  font-size: inherit;
  color: inherit;
  line-height: 1.6;
}
/************* SLIDER AREA ***************/
.sliderArea .image {
  float: left;
  width: 50%;
}
.sliderArea .image img {
  display: block;
  max-width: 600px;
  width: 100%;
}
.sliderArea .slider {
  width: 340px;
  float: left;
  padding: 89px 0 0;
}
.sliderArea .slider h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 32px;
  color: #43484d;
  padding: 0 0 15px;
}
.sliderArea .slider p {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: inherit;
  color: inherit;
  line-height: 1.6;
  padding-bottom: 26px;
}
.sliderArea .slider a {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: inherit;
  color: #358ed7;
  text-decoration: none;
}
.sliderArea .slider a img {
  width: auto;
  display: inline-block;
  padding-left: 11px;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.sliderArea .slider a:hover img {
  padding-left: 16px;
}
/************** PRICING *********************/
.pricing {
  background-color: #f9f9f9;
  padding-top: 117px;
}
.pricing .subHeader {
  max-width: 740px;
}
.plans {
  padding: 35px 0 0;
}
.planGrid {
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: -132px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px #f8f8f8;
}
.planGrid .detail {
  min-height: 52px;
}
@media screen and (max-width: 912px) {
  .planGrid .detail {
    min-height: 63px;
  }
}
@media screen and (max-width: 767px) {
  .planGrid .detail {
    min-height: 3px;
  }
}
.planGrid > li {
  width: 33.3333333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 31px 30px 29px;
  float: left;
  border-left: 1px solid #f4f4f4;
}
.planGrid > li:first-child {
  border-left: none;
}
.planGrid .highlighted {
  background-color: #39add1;
}
.planGrid .highlighted p,
.planGrid .highlighted .price small {
  opacity: 0.6;
}
.planGrid .highlighted h2,
.planGrid .highlighted p,
.planGrid .highlighted .specs li,
.planGrid .highlighted .price,
.planGrid .highlighted .price small {
  color: #ffffff;
}
.planGrid h2 {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #358ed7;
  line-height: 1;
  padding-bottom: 6px;
}
.planGrid p {
  line-height: 1.6;
}
.planGrid .price {
  font-size: 52px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #43484d;
  border-top: 1px solid #e1e8ee;
  margin-top: 18px;
  padding: 22px 0;
}
.planGrid .price small {
  display: block;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #86939e;
}
.planGrid .specs {
  text-align: left;
  border-top: 1px solid #e1e8ee;
  margin-top: 30px;
  padding: 12px 0 40px;
}
.planGrid .specs li {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: normal;
  color: #86939e;
  padding: 16px 0 16px 30px;
  background: url('../images/tick.svg') no-repeat left center;
}
.planGrid .specs .disabled {
  background: none;
  color: #bfc7ce;
}
.planGrid .button {
  border: 2px solid #e1e8ee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  padding: 9px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #358ed7;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.planGrid .button:hover {
  border-color: #b8c2cc;
}
/*************** GREY BG *****************/
.greyBg {
  background-color: #5e6977;
  padding-top: 250px;
  padding-bottom: 100px;
  text-align: center;
}
.greyBg h2 {
  color: #ffffff;
}
.greyBg .subHeader {
  color: #ffffff;
  opacity: 0.8;
}
.tryFree {
  text-align: center;
  padding-bottom: 82px;
}
.tryFree .greenBtn {
  display: inline-block;
  padding: 17px 34px;
}
.clients p {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  opacity: 0.6;
  padding-bottom: 26px;
}
.clients li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 23px;
}
.clients img,
.clients a {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.clients a:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
/************** FOOTER **************/
footer {
  background-color: #545e6b;
  color: #ffffff;
  font-size: 16px;
  padding: 60px 0 88px;
}
.info {
  float: left;
  width: 36.5%;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.info p {
  float: right;
  width: calc(100% - 80px);
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  color: inherit;
  font-family: 'Roboto';
  font-weight: normal;
  opacity: 0.6;
  line-height: 1.5;
}
.info img {
  float: left;
}
.links {
  float: left;
  width: 47%;
  padding: 0 75px 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.links > li {
  float: left;
  width: 33.333333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.links ul li {
  display: block;
  padding: 7px 0;
}
.links h4 {
  font-size: 18px;
  color: inherit;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 1;
  padding: 1px 0 10px;
}
.links a {
  text-decoration: none;
  color: inherit;
  opacity: 0.6;
  line-height: 1;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.links a:hover {
  opacity: 0.8;
}
.langSelect {
  float: left;
  background: url('../images/globe.svg') no-repeat left top;
  padding: 0 0 0 25px;
  width: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.langSelect .selected {
  font-size: inherit;
  color: inherit;
  padding: 0 20px 0 0;
  background: url('../images/carrot-down.svg') no-repeat right 4px center;
  opacity: 0.6;
  line-height: 1;
  cursor: pointer;
}
.langSelect .selected:hover {
  opacity: 0.8;
}
.langSelect .selector {
  border: 1px solid #bbbfc4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}
.langSelect .selector li {
  display: block;
  padding: 10px 0;
}
.langSelect .selector li:first-child {
  border-bottom: 1px solid #bbbfc4;
}
.langSelect .selector li a {
  display: block;
  color: inherit;
  line-height: 1;
  text-decoration: none;
  opacity: 0.6;
}
.langSelect .selector li a:hover {
  opacity: 0.8;
}
/************* MEDIA QUERIES *****************/
@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 42px;
    padding-bottom: 14px;
  }
  .subHeader {
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 32px;
  }
  .greenBtn {
    font-size: 14px;
  }
  .page {
    padding-top: 160px;
  }
  .workflow {
    padding-bottom: 130px;
  }
  .workflow li {
    padding: 10px;
  }
  .workflow .icon img {
    max-width: 80%;
    max-height: 40px;
  }
  .workflow .description h3 {
    font-size: 16px;
    padding-bottom: 4px;
  }
  .workflow .description p {
    line-height: 1.5;
  }
  .sliderArea .slider {
    padding: 50px 0 0;
  }
  .sliderArea .slider h3 {
    font-size: 28px;
    padding: 0 0 8px;
  }
  .sliderArea .slider p {
    line-height: 1.5;
    padding-bottom: 20px;
  }
  .pricing {
    padding-top: 90px;
  }
  .planGrid > li {
    padding: 25px 20px 22px;
  }
  .planGrid h2 {
    font-size: 13px;
    padding-bottom: 3px;
  }
  .planGrid p {
    line-height: 1.5;
  }
  .planGrid .price {
    font-size: 42px;
    margin-top: 15px;
    padding: 18px 0;
  }
  .planGrid .price small {
    font-size: 13px;
  }
  .planGrid .specs {
    margin-top: 25px;
    padding: 8px 0 30px;
  }
  .planGrid .specs li {
    font-size: 13px;
    padding: 12px 0 12px 30px;
  }
  .planGrid .button {
    font-size: 14px;
  }
  .greyBg {
    padding-top: 200px;
    padding-bottom: 75px;
  }
  .tryFree {
    padding-bottom: 55px;
  }
  .tryFree .greenBtn {
    padding: 12px 25px;
  }
  .clients p {
    font-size: 16px;
  }
  footer {
    font-size: 14px;
    padding: 44px 0 60px;
  }
  .links {
    width: 45%;
    padding: 0 50px 0 25px;
  }
  .links h4 {
    font-size: 16px;
  }
  .info {
    width: 37%;
    padding-right: 25px;
  }
  .info img {
    width: 60px;
  }
  .info p {
    width: calc(100% - 60px);
    padding-left: 10px;
  }
  .langSelect {
    padding: 0 0 0 22px;
    width: 124px;
    background-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  header {
    padding: 28px 0 30px;
  }
  nav {
    padding: 8px 0 0 40px;
  }
  nav li {
    padding: 0 20px;
  }
  .page {
    padding-top: 130px;
  }
  .banner {
    padding: 10px 0 40px;
  }
  .workflow {
    padding-bottom: 100px;
  }
  .workflow li {
    padding: 5px;
  }
  .workflow .icon img {
    max-height: 30px;
  }
  .sliderArea .image {
    display: none;
  }
  .sliderArea .slider {
    padding-top: 0;
    padding-bottom: 80px;
    text-align: center;
    margin: 0 auto;
    float: none;
  }
  .pricing {
    padding-top: 60px;
  }
  .planGrid > li {
    padding: 20px 15px 18px;
  }
  .greyBg {
    padding-top: 200px;
    padding-bottom: 75px;
  }
  .links {
    width: 48%;
    padding: 0 25px 0 10px;
  }
  .info {
    width: 32%;
    padding-right: 15px;
  }
  .info img {
    width: 40px;
  }
  .info p {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
  header {
    padding: 20px 0 22px;
  }
  nav {
    position: fixed;
    width: 100%;
    padding: 0;
    text-align: center;
    box-shadow: 0 3px 4px -2px #e9e9e9;
    z-index: 9;
    background-color: #fff;
    top: 64px;
    left: 0;
    float: none;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease 0s;
  }
  nav li {
    padding: 10px 0;
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  nav li:last-child {
    padding-bottom: 20px;
  }
  nav.open {
    max-height: 200px;
  }
  .menuButton {
    background: url('../images/menu-button.png') no-repeat center center;
    position: absolute;
    bottom: 0;
    right: 15px;
    width: 26px;
    height: 18px;
    border: none;
    background-color: none;
    display: block;
    cursor: pointer;
  }
  .menuButton:active,
  .menuButton:focus {
    outline: none;
  }
  h2 {
    font-size: 26px;
    padding-bottom: 8px;
  }
  .subHeader {
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 20px;
  }
  .page {
    padding-top: 100px;
  }
  .banner {
    padding: 10px 0 40px;
  }
  .workflow {
    padding-bottom: 80px;
  }
  .workflow li {
    padding: 15px 15%;
    float: none;
    width: 100%;
  }
  .workflow .icon {
    width: 20%;
  }
  .workflow .icon img {
    max-height: 36px;
    max-width: 80%;
  }
  .workflow .description {
    width: 80%;
  }
  .workflow .description h3 {
    font-size: 15px;
  }
  .sliderArea .slider {
    width: 75%;
  }
  .sliderArea .slider h3 {
    font-size: 22px;
  }
  .pricing {
    padding-top: 40px;
  }
  .planGrid > li {
    padding: 30px 25px 30px;
    float: none;
    width: 100%;
    border: none;
  }
  .planGrid > li:nth-child(2) {
    background-color: #f3f3f3;
  }
  .planGrid .button {
    font-size: 13px;
  }
  .greenBtn {
    font-size: 13px;
  }
  .greyBg {
    padding-top: 180px;
    padding-bottom: 50px;
  }
  .tryFree {
    padding-bottom: 45px;
  }
  .clients p {
    font-size: 14px;
  }
  .clients img {
    max-width: 80%;
  }
  footer {
    font-size: 12px;
  }
  .links {
    width: 100%;
    padding: 0 25px 35px 10px;
    float: none;
    text-align: center;
  }
  .info {
    width: 79%;
    padding-right: 15px;
    float: none;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .info img {
    width: 50px;
  }
  .info p {
    padding-left: 15px;
    width: calc(100% - 50px);
  }
  .langSelect {
    margin: 0 auto;
    float: none;
    background-size: 12px;
    width: 115px;
  }
}
